.editFood {
  width: 100%;
  display: flex;

  .editFoodContainer {
    flex: 6;

    .editFoodTop,
    .editFoodBottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;

      h1 {
        color: lightgray;
        font-size: 20px;
      }

      .editFoodLeft {
        flex: 1;
        text-align: center;

        img {
          width: 200px;
          height: 200px;
          border-radius: 5px;
          object-fit: cover;
        }
      }

      .editFoodRight {
        flex: 2;
        padding: 0px 20px;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-between;

          .editFoodFormInput {
            width: 40%;
            position: relative;
            border-bottom: 2px solid #adadad;

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .editFoodIcon {
                cursor: pointer;
                height: 22px;
              }
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              outline: none;
            }
            input#file {
              height: 18px;
            }
            input:focus ~ span::before {
              width: 100%;
            }
            small {
              position: absolute;
              left: 0;
              top: 100%;
              margin-top: 3px;
              color: #e74c3c;
            }
            span::before {
              content: "";
              position: absolute;
              top: 50px;
              left: 0;
              width: 0%;
              height: 2px;
              background: #2691d9;
              transition: 0.5s;
            }
          }
          .editFoodFormInput.noBorder {
            border-bottom: none;
          }
          .editFoodFormInput.success {
            border-bottom-color: #2691d9;
          }
          .editFoodFormInput.error {
            border-bottom-color: #e74c3c;
          }
          button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
          }
        }
      }
      .reError {
        text-align: center;
        margin: 20px 0px;
        color: #e74c3c;
      }
    }
  }
}
